a:hover {
    color: #ff0080
}
.carousel-item {
   // height: 50vh;
   // min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.menu-selection{
    text-align: center;
    height:85px;
    position: relative;

}
.menu-des{
    text-align: center;
    margin-bottom: 0px;
}
.menu-download, .menu-filter{
    margin-bottom: 20px;
    //margin-top
    : 20px;
    position: relative;
    top: 20px;
}
.menu-filter button{
    margin-left: 10px;
    margin-right: 10px;
}
.menu-img{
    padding: 30px;
}
.menu-images img{
    width: 100%;
    border-radius: 50%;
}
.menu-title{
    text-align: center;
    margin-bottom: 15px;
    padding-top: 20px;
    margin-bottom: 30px;
    //margin-top: 40px;
    padding-top: 40px;
    font-size: 40px;
}
.carousel-item img{
    width: 100%;
}
section{
    padding: 0px;
}
.gallery-container{
    background-color: #ececec;
}
header{
    padding-bottom: 30px;
}
.gallery-container img{
    width: 100%;
}
.gallery-container .col-md-6{
    padding: 30px;
}
#navImage {
    height: 80px;
    max-width: 100%;
    margin-left: 9.5vw;
    text-align: center; !important

}
.menu-container, .gallery-container{
    position: relative;
//    top: 140px;
}
.menu-container{
    background-color: #ffd2da;
    padding-top: 140px;
}
.nav-background{
    height: 130px;
    width: 100%;
    background-color: #f78397;
}
.bun-title{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 20px;
}
.menu-img p{
    text-align: center;
}
footer{
    position: relative;
    //top: 140px;
}
/*------lines 15 - 17-----*/
a:hover {
    color: #ff0080
}

/*------lines 104 - 106-----*/
#mainNav {
    background-color: rgba(0,0,0,.6);
}


/*------lines 116 - 123-----*/
@media (max-width:800px){
    #navImage{
        height: 45px;
        max-width: 100%;
    }
}

/*------lines 158 - 161-----*/
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ff0080
}


/*------lines 73 - 79-----*/
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #ff0080!important;
    border-color: #ff0080!important;
    color: #fff
}


/*------lines 723 - 727-----*/
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #ff0080
}
@media (max-width:990px){
    .nav-background{
        display: none;
    }
    .menu-container, .gallery-container, footer{
        position: relative;
        //top: 55px;
    }
    .menu-images .col-md-4{
        padding: 25px;
    }
    .menu-container{
        padding-top: 55px;
    }
    .bun-title{
        text-align: center;
    }
}
@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: rgba(0,0,0,.4);
    }


	  #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(0,0,0,0.4);
    }
}
